{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background:linear-gradient(pink,orange,yellow);
        }
        div{
            background-color: yellow;
            width: 150px;
            height: 100px;
            padding: 100px 150px;
            overflow: hidden;
            position: relative;
            top: 200px;
            left: 650px;

        }
        img{
        background-size: cover;
        width: 150px;
        height: 100px;
        position: absolute;

        }
    </style>
</head>
<body>

        <div>
        <img src="{% static 'images/kit.jpg' %}" alt="">
        </div>

</body>
</html>